In [2]:
import os
import pandas as pd
import numpy as np
import data_wrangle
import json
from importlib import reload
import preprocess


#From PCA
from sklearn.decomposition import PCA
from sklearn import decomposition
from sklearn.preprocessing import scale
from sklearn.model_selection import cross_val_score

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import scipy.signal as ss
import pybaselines.spline as py

import pandas as pd
import numpy as np
from math import ceil


import plotly.io as pio
pio.renderers.default = "browser"

Table info without condition set
DATATABLE INFORMATION
+------------+------+-------------------+-----+-------------------+----+
| Table Name | data | Number of samples | 539 | Number of columns | 16 |
|            |      |       (rows)      |     |                   |    |
+------------+------+-------------------+-----+-------------------+----+
+-------------------------------------------------------------------------------------------------+
|                                        Column Information                                       |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
| colID |        name        | unique_vals_per_col |   type  | notnull | dflt_value | primary_key |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
|   0   |         id         |         539         | INTEGER |    0    |    None    |      1      |
|   1   |    raman_shift     |          12         |   BLOB  |    0    |    None    |      0      |
|   2   | original_intensity |         446         |   BLOB  |    0    |    None    |      0      |
|   3   |       frame        |          4          |   REAL  |    0    |    None    |      0      |
|   4   |      filename      |         222         |   TEXT  |    0    |    None    |      0      |
|   5   |      location      |          7          |   TEXT  |    0    |    None    |      0      |
|   6   |       slice        |          3          |   REAL  |    0    |    None    |      0      |
|   7   |     wavelength     |          1          |   TEXT  |    0    |  '532nm'   |      0      |
|   8   |       power        |          1          |   TEXT  |    0    |   '10mW'   |      0      |
|   9   |     objective      |          1          |   TEXT  |    0    |   '40X'    |      0      |
|   10  |        time        |          5          |   TEXT  |    0    |   '60s'    |      0      |
|   11  |        date        |          12         |   DATE  |    0    |    None    |      0      |
|   12  |   operator_name    |          2          |   TEXT  |    0    |    'WG'    |      0      |
|   13  |       raman        |          0          |   TEXT  |    0    |    None    |      0      |
|   14  |    general_loc     |          18         |   TEXT  |    0    |    None    |      0      |
|   15  |     loc_color      |          6          |   TEXT  |    0    |    None    |      0      |
+-------+--------------------+---------------------+---------+---------+------------+-------------+

WITH CONDITION SET
DATATABLE INFORMATION
+------------+------+-------------------+-----+-------------------+----+
| Table Name | data | Number of samples | 539 | Number of columns | 16 |
|            |      |       (rows)      |     |                   |    |
+------------+------+-------------------+-----+-------------------+----+
+-------------------------------------------------------------------------------------------------+
|                                        Column Information                                       |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
| colID |        name        | unique_vals_per_col |   type  | notnull | dflt_value | primary_key |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
|   0   |         id         |         539         | INTEGER |    0    |    None    |      1      |
|   1   |    raman_shift     |          12         |   BLOB  |    0    |    None    |      0      |
|   2   | original_intensity |         446         |   BLOB  |    0    |    None    |      0      |
|   3   |       frame        |          4          |   REAL  |    0    |    None    |      0      |
|   4   |      filename      |         222         |   TEXT  |    0    |    None    |      0      |
|   5   |      location      |          7          |   TEXT  |    0    |    None    |      0      |
|   6   |       slice        |          3          |   REAL  |    0    |    None    |      0      |
|   7   |     wavelength     |          1          |   TEXT  |    0    |  '532nm'   |      0      |
|   8   |       power        |          1          |   TEXT  |    0    |   '10mW'   |      0      |
|   9   |     objective      |          1          |   TEXT  |    0    |   '40X'    |      0      |
|   10  |        time        |          5          |   TEXT  |    0    |   '60s'    |      0      |
|   11  |        date        |          12         |   DATE  |    0    |    None    |      0      |
|   12  |   operator_name    |          2          |   TEXT  |    0    |    'WG'    |      0      |
|   13  |       raman        |          0          |   TEXT  |    0    |    None    |      0      |
|   14  |    general_loc     |          18         |   TEXT  |    0    |    None    |      0      |
|   15  |     loc_color      |          6          |   TEXT  |    0    |    None    |      0      |
+-------+--------------------+---------------------+---------+---------+------------+-------------+

In [20]:
reload(data_wrangle)
# db=data_wrangle.DataTable('/mnt/c/Users/16162/Desktop/Brain.db','data')
db=data_wrangle.DataTable('/home/dunn/DBM/Brain.db','data')
db.condition='WHERE strftime(\'%Y\',date)=\'2023\' AND location in (\'substantia nigra\',\'cerebral cortex\')'
# db.table_info()
db.columns('date','general_loc')[1]

Values in date:
	2022-10-12
	2022-11-03
	2022-08-15
	2022-11-10
	2023-01-10
	2023-03-30
	2023-03-01
	2023-03-03
	2023-03-16

Values in general_loc:
	blank
	center
	slice2blank
	slice2wellplatediffplateposition
	slice2wellplate
	slice2
	slice3coverslip
	subniagraish
	cortex
	midbrain
	substantia nigra
	vta
	brainstem
	tissue2
	tissue3
	532nm
	ventrical
	cerebral cortex
	subn
	low
	mb
	sn

+-------------------------------------------------------------------------------------------------+
|                                        Column Information                                       |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
| colID |        name        | unique_vals_per_col |   type  | notnull | dflt_value | primary_key |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
|   0   |         id         |         347         | INTEGER |    0    |    None    |      1      |
|   1   |    raman_shift     |          11         |   BLOB  |    0    |    None    |      0      |
|   2   | original_intensity |         344         |   BLOB  |    0    |    None    |      0      |
|   3   |       frame        |          4          |   REAL  |    0    |    None    |      0      |
|   4   |      filename      |         188         |   TEXT  |    0    |    None    |      0      |
|   5   |      location      |          0          |   TEXT  |    0    |    None    |      0      |
|   6   |       slice        |          6          |   REAL  |    0    |    None    |      0      |
|   7   |     wavelength     |          1          |   TEXT  |    0    |  '532nm'   |      0      |
|   8   |       power        |          1          |   TEXT  |    0    |   '10mW'   |      0      |
|   9   |     objective      |          1          |   TEXT  |    0    |   '40X'    |      0      |
|   10  |        time        |          5          |   TEXT  |    0    |   '60s'    |      0      |
|   11  |        date        |          9          |   DATE  |    0    |    None    |      0      |
|   12  |   operator_name    |          2          |   TEXT  |    0    |    'WG'    |      0      |
|   13  |       raman        |          0          |   TEXT  |    0    |    None    |      0      |
|   14  |    general_loc     |          22         |   TEXT  |    0    |    None    |      0      |
|   15  |     loc_color      |          10         |   TEXT  |    0    |    None    |      0      |
+-------+--------------------+---------------------+---------+---------+------------+-------------+

<h1>Import to DataBase</h1> 
CSV -> BD Table

In [35]:
path='/mnt/c/Users/16162/Documents/Data/2023-03-29/'
date='2023-03-29'
operator='WG'
# slice='1'

filelist=[file for file in os.listdir(path) if '.csv' in file and 'hexane' not in file]
# for file in filelist:
#     print(file)

for file in filelist:
    name=file.split('.csv')[0]
    if 'Frame' in file:
        frame=name.split('-')[2]
        name=name.split('-F')[0]
    else:
        frame=0
    
    s=name.split('_')
    general_loc=s[0].lower()
    loc_color=s[1].lower()
    slice=s[2][-1].lower()
    # slice='1'
    pow='10mW'
    time=s[-1].split(' ')[0]
    obj='40X'
    
    df=pd.read_csv(path+file,header=None)
    x=df.iloc[:,0]
    
    x=np.array(x)
    xb=x.tobytes()
    
    y=np.array(df.iloc[:,1])
    yb=y.tobytes()

    stmt=''
    # stmt=f'raman_shift:\t\t{xb}\n'
    # stmt+=f'original_intensity:\t{yb}\n'
    stmt+=f'filename:\t\t{name}\n'
    stmt+=f'frame:\t\t\t{int(frame)}\n'
    stmt+=f'date:\t\t\t{date}\n'
    stmt+=f'slice:\t\t\t{slice}\n'
    stmt+=f'power:\t\t\t{pow}\n'
    stmt+=f'time:\t\t\t{time}\n'
    stmt+=f'operator:\t\t{operator}\n'
    stmt+=f'general_loc:\t\t{general_loc}\n'
    stmt+=f'loc_color:\t\t{loc_color}\n'
    # print(stmt)

    # db.insert_row(('raman_shift',xb),
    #               ('original_intensity',yb),
    #               ('filename',name),
    #               ('frame',int(frame)),
    #               ('date',date),('slice',slice),
    #               ('power',pow),('time',time),
    #               ('general_loc',general_loc),
    #               ('loc_color',loc_color), ('operator_name',operator)
    #               )

db.columns('date')[1]

Values in date:
	2022-10-12
	2022-11-03
	2022-08-15
	2022-11-10
	2023-01-10
	2023-03-30
	2023-03-01
	2023-03-03
	2023-03-16
	2023-03-24
	2023-03-27
	2023-03-29

+-------------------------------------------------------------------------------------------------+
|                                        Column Information                                       |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
| colID |        name        | unique_vals_per_col |   type  | notnull | dflt_value | primary_key |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
|   0   |         id         |         539         | INTEGER |    0    |    None    |      1      |
|   1   |    raman_shift     |          12         |   BLOB  |    0    |    None    |      0      |
|   2   | original_intensity |         446         |   BLOB  |    0    |    None    |      0      |
|   3   |       frame        |          4          |   REAL  |    0    |    None    |      0      |
|   4   |      filename      |         222         |   TEXT  |    0    |    None    |      0      |
|   5   |      location      |          0          |   TEXT  |    0    |    None    |      0      |
|   6   |       slice        |          6          |   REAL  |    0    |    None    |      0      |
|   7   |     wavelength     |          1          |   TEXT  |    0    |  '532nm'   |      0      |
|   8   |       power        |          1          |   TEXT  |    0    |   '10mW'   |      0      |
|   9   |     objective      |          1          |   TEXT  |    0    |   '40X'    |      0      |
|   10  |        time        |          5          |   TEXT  |    0    |   '60s'    |      0      |
|   11  |        date        |          12         |   DATE  |    0    |    None    |      0      |
|   12  |   operator_name    |          2          |   TEXT  |    0    |    'WG'    |      0      |
|   13  |       raman        |          0          |   TEXT  |    0    |    None    |      0      |
|   14  |    general_loc     |          22         |   TEXT  |    0    |    None    |      0      |
|   15  |     loc_color      |          10         |   TEXT  |    0    |    None    |      0      |
+-------+--------------------+---------------------+---------+---------+------------+-------------+

<h1>Edit values in database

In [57]:
reload(data_wrangle)
db=data_wrangle.DataTable('/home/dunn/DBM/Brain.db','data')
db.columns('general_loc')[1]
# db.update('general_loc','cerebral cortex', 'cortex')

Values in general_loc:
	blank
	center
	slice2blank
	slice2wellplatediffplateposition
	slice2wellplate
	slice2
	slice3coverslip
	subniagraish
	cortex
	midbrain
	substantia nigra
	vta
	brainstem
	tissue2
	tissue3
	532nm
	ventrical
	low

+-------------------------------------------------------------------------------------------------+
|                                        Column Information                                       |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
| colID |        name        | unique_vals_per_col |   type  | notnull | dflt_value | primary_key |
+-------+--------------------+---------------------+---------+---------+------------+-------------+
|   0   |         id         |         539         | INTEGER |    0    |    None    |      1      |
|   1   |    raman_shift     |          12         |   BLOB  |    0    |    None    |      0      |
|   2   | original_intensity |         446         |   BLOB  |    0    |    None    |      0      |
|   3   |       frame        |          4          |   REAL  |    0    |    None    |      0      |
|   4   |      filename      |         222         |   TEXT  |    0    |    None    |      0      |
|   5   |      location      |          0          |   TEXT  |    0    |    None    |      0      |
|   6   |       slice        |          6          |   REAL  |    0    |    None    |      0      |
|   7   |     wavelength     |          1          |   TEXT  |    0    |  '532nm'   |      0      |
|   8   |       power        |          1          |   TEXT  |    0    |   '10mW'   |      0      |
|   9   |     objective      |          1          |   TEXT  |    0    |   '40X'    |      0      |
|   10  |        time        |          5          |   TEXT  |    0    |   '60s'    |      0      |
|   11  |        date        |          12         |   DATE  |    0    |    None    |      0      |
|   12  |   operator_name    |          2          |   TEXT  |    0    |    'WG'    |      0      |
|   13  |       raman        |          0          |   TEXT  |    0    |    None    |      0      |
|   14  |    general_loc     |          18         |   TEXT  |    0    |    None    |      0      |
|   15  |     loc_color      |          10         |   TEXT  |    0    |    None    |      0      |
+-------+--------------------+---------------------+---------+---------+------------+-------------+